* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Stone100: hsl(30, 54%, 90%);
  --Stone150: hsl(30, 18%, 87%);
  --Stone600: hsl(30, 10%, 34%);
  --Stone900: hsl(24, 5%, 18%);
  --Brown800: hsl(14, 45%, 36%);
  --Rose800: hsl(332, 51%, 32%);
  --Rose50: hsl(330, 100%, 98%);
  --FTitle: "Young Serif", serif;
  --FParagraph: "Outfit", sans-serif;
  --Border-Radius: 1rem;
  --Gap: 2.5rem;
}

html {
  font-size: 62.5%;
}

body {
  padding: var(--Gap);
  background-color: var(--Stone100);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--Gap);
  justify-content: center;
  align-items: center;
}
container {
  display: block;
  width: 100%;
  max-width: 50rem;
  background-color: var(--White);
  padding: 2.5rem;
  border-radius: var(--Border-Radius);
}
container ul,
ol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
container ul,
ol,
li {
  padding-left: 2rem;
}

container li::marker {
  color: var(--Brown800);
  font-weight: 600;
}

header .img-bg {
  width: 100%;
  height: 23rem;
  background-image: url(../images/image-omelette.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--Border-Radius);
  margin-bottom: var(--Gap);
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--Gap);
  flex-direction: column;
}
.main h1 {
  font-family: var(--FTitle);
  font-weight: 400;
}
.main p,
li,
td {
  font-family: var(--FParagraph);
  font-size: 1.6rem;
  color: var(--Stone600);
  font-weight: 400;
}
.introduction {
  display: flex;
  gap: var(--Gap);
  flex-direction: column;
}
.description h1 {
  font-size: 3rem;
  margin-bottom: var(--Gap);
  color: var(--Stone900);
}

.preparation-time {
  background-color: var(--Rose50);
  padding: 2rem;
  border-radius: var(--Border-Radius);
}

.preparation-time h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: var(--FParagraph);
  font-weight: 600;
  color: var(--Rose800);
}

.preparation {
  display: flex;
  flex-direction: column;
  gap: var(--Gap);
}
.preparation h1 {
  font-size: 2.5rem;
  color: var(--Brown800);
  margin-bottom: 1rem;
}

.nutrition p {
  margin-bottom: 1rem;
}
.nutrition table {
  width: 100%;
}
.nutrition table,
th,
td {
  border-bottom: 1px solid var(--Stone100);
  border-collapse: collapse;
}
.nutrition td {
  padding: 1rem 2rem;
}

.nutrition td > b {
  color: var(--Brown800);
}
.ingredients,
.instructions {
  padding-bottom: var(--Gap);
  border-bottom: 1px solid var(--Stone100);
}
.attribution {
  font-size: 1.6rem;
  font-family: var(--FParagraph);
  text-align: center;
}
